/* General Styling */
body {
    font-family: 'Arial';
    font-size: '12';
    background-color: #fcf7f7;
    margin: 2%;
    padding: 150px;
}

.resume-container {
    display:  flex;
    background-color:rgb(255, 255, 255);
    width: 150%;
    margin: bottom 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.left-section {
    background-color: darkslategrey;
    color: white;
    padding: 20px;
    width: 20%;
    text-align: center;
    border-right: 1px solid #f9fdfd;
    box-shadow: 0 0 20px rgb(248, 246, 246);
}

.profile-picture {
    width: 120px;
    height: 120px;
    margin-top:10%;
    border-radius: 50%;
    border: 1px solid #2f4f4f;
    margin: bottom 20px;
}

h1 {
    font-size: 20 px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {font-size: 12px;
    padding:2%;
    margin: 10px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #464444;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: disc;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Selection Styling */
.right-selection {
    padding: 20px;
    width: 65%;
    border: 1px solid #f4f8f8;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor:pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #464444;
}